<div class="navbar-brand no-select">
	<NavLink href="" ActiveClass="is-active" class="navbar-item" Match="NavLinkMatch.All">Bulma Jumbo Tiny</NavLink>

	<a role="button" class='navbar-burger' aria-label="menu" aria-expanded="false" data-target="demo-navigationmenu">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	</a>
</div>
<div id="demo-navigationmenu" class='navbar-menu no-select'>
	<div class="navbar-start">
		<a href="counter" class="navbar-item">Counter</a>
	</div>
	<div class="navbar-end">

	</div>
</div>
