<div class="navbar-brand no-select">
	<NavLink href="" ActiveClass="is-active" class="navbar-item" Match="NavLinkMatch.All">Bulma Jumbo Tiny</NavLink>

	<a role="button" class='navbar-burger' aria-label="menu" aria-expanded="false" data-target="demo-navigationmenu">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	</a>
</div>
<div id="demo-navigationmenu" class='navbar-menu no-select'>
	<div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Elements
            </a>

            <div class="navbar-dropdown">
                <NavLink href="button" class="navbar-item">
                    Button
                </NavLink>
                <NavLink href="delete" class="navbar-item">
                    Delete
                </NavLink>
                <NavLink href="icon" class="navbar-item">
                    Icon
                </NavLink>
                <NavLink href="progress" class="navbar-item">
                    Progress
                </NavLink>
                <NavLink href="title" class="navbar-item">
                    Title
                </NavLink>
            </div>
        </div>
	</div>
	<div class="navbar-end">

	</div>
</div>
