// Sizes
$size-1-tiny: 0.75rem !default
$size-2-tiny: 0.65rem !default
$size-3-tiny: 0.55rem !default
$size-4-tiny: 0.45rem !default
$size-5-tiny: 0.35rem !default
$size-6-tiny: 0.25rem !default
$size-7-tiny: 0.15rem !default

$size-1-jumbo: 9rem !default
$size-2-jumbo: 8rem !default
$size-3-jumbo: 7rem !default
$size-4-jumbo: 6rem !default
$size-5-jumbo: 5rem !default
$size-6-jumbo: 4rem !default
$size-7-jumbo: 3rem !default

$height-tiny: 8px !default
$max-height-tiny: 8px !default
$max-width-tiny: 8px !default
$min-height-tiny: 8px !default
$min-width-tiny: 8px !default
$width-tiny: 8px !default

$height-jumbo: 40px !default
$max-height-jumbo: 40px !default
$max-width-jumbo: 40px !default
$min-height-jumbo: 40px !default
$min-width-jumbo: 40px !default
$width-jumbo: 40px !default

$icon-dimensions-tiny: 0.50rem !default
$icon-dimensions-jumbo: 4rem !default

$size-tiny: $size-4-tiny !default
$size-jumbo: $size-4-jumbo !default

$control-radius-tiny: 1px !default
$control-radius-jumbo: 8px !default

$hero-body-padding-tiny: 0.5rem !default
$hero-body-padding-jumbo: 27rem 7.5rem !default

$section-padding-tiny: 4.2rem 2.25rem !default
$section-padding-jumbo: 27rem 7.5rem !default
