// Sizes
$size-1-tiny: 0.75rem !default
$size-2-tiny: 0.65rem !default
$size-3-tiny: 0.55rem !default
$size-4-tiny: 0.45rem !default
$size-5-tiny: 0.35rem !default
$size-6-tiny: 0.25rem !default
$size-7-tiny: 0.15rem !default

$size-1-jumbo: 9rem !default
$size-2-jumbo: 8rem !default
$size-3-jumbo: 7rem !default
$size-4-jumbo: 6rem !default
$size-5-jumbo: 5rem !default
$size-6-jumbo: 4rem !default
$size-7-jumbo: 3rem !default

$size-tiny: $size-4-tiny !default
$size-jumbo: $size-4-jumbo !default
