@import '../bulma/sass/utilities/derived-variables.sass'
@import 'variables'

.button,
.message,
.label,
.input
  &.is-tiny
    font-size: $size-tiny
  &.is-jumbo
    font-size: $size-jumbo

.delete
  &.is-tiny
    height: 11px
    max-height: 11px
    max-width: 11px
    min-height: 11px
    min-width: 11px
    width: 11px
  &.is-jumbo
    height: 60px
    max-height: 60px
    max-width: 60px
    min-height: 60px
    min-width: 60px
    width: 60px

.icon
  &.is-tiny
    height: $icon-dimensions-tiny
    width: $icon-dimensions-tiny
  &.is-jumbo
    height: $icon-dimensions-jumbo
    width: $icon-dimensions-jumbo

.progress
  &.is-tiny
    height: $size-tiny
  &.is-jumbo
    height: $size-jumbo

.input
  &.is-tiny
    border-radius: $radius-tiny
  &.is-jumbo
    border-radius: $radius-jumbo

.hero
  &.is-tiny
    .hero-body
      padding: $hero-body-padding-tiny
  &.is-jumbo
    .hero-body
      padding: $hero-body-padding-jumbo

.section
  &.is-tiny
    padding: $section-padding-tiny
  &.is-jumbo
    padding: $section-padding-jumbo

.title,
.subtitle
  &.is-tiny
    @each $size in $sizes-tiny
      $i: index($sizes-tiny, $size)
      &.is-#{$i}
        font-size: $size
  &.is-jumbo
    @each $size in $sizes-jumbo
      $i: index($sizes-jumbo, $size)
      &.is-#{$i}
        font-size: $size

.tags
  &.are-tiny
    .tag:not(.is-normal):not(.is-medium):not(.is-large):not(.is-jumbo)
      font-size: $size-tiny
  &.are-medium
    .tag:not(.is-tiny):not(.is-normal):not(.is-large):not(.is-jumbo)
      font-size: $size-normal
  &.are-large
    .tag:not(.is-tiny):not(.is-normal):not(.is-medium):not(.is-jumbo)
      font-size: $size-medium
  &.are-jumbo
    .tag:not(.is-tiny):not(.is-normal):not(.is-medium):not(.is-large)
      font-size: $size-jumbo

.tag:not(body)
  &.is-tiny
    font-size: $size-tiny
  &.is-jumbo
    font-size: $size-jumbo

.pagination
  &.is-tiny
    font-size: $size-tiny
  &.is-jumbo
    font-size: $size-jumbo

.tabs
  &.is-tiny
    font-size: $size-tiny
  &.is-jumbo
    font-size: $size-jumbo

=typography-size-tiny($target:'')
  @each $size in $sizes-tiny
    $i: index($sizes-tiny, $size)
    .is-size-#{$i}#{if($target == '', '', '-' + $target)}
      &.is-tiny
        font-size: $size !important

=typography-size-jumbo($target:'')
  @each $size in $sizes-jumbo
    $i: index($sizes-jumbo, $size)
    .is-size-#{$i}#{if($target == '', '', '-' + $target)}
      &.is-jumbo
        font-size: $size !important

+typography-size-tiny()
+typography-size-jumbo()
