@page "/button"

<div class="container">

    <section class="hero bd-hero bd-is-basic">
        <div class="hero-body">
            <div class="container">
                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            <p>Button</p>

                        </h1>
                        <div class="subtitle is-4 algolia-lvl1">
                            <p>The classic <strong>button</strong>, in different colors, sizes, and states</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bd-docs-body">
        <div class="bd-docs-content bd-content algolia-content">
            <h3 id="sizes" class="title is-4 is-spaced bd-anchor-title">
                <span class="bd-anchor-name">
                    Sizes
                </span>
                <a class="bd-anchor-link" href="#sizes">
                    #
                </a>
            </h3>

            <div class="content">
                <p>
                    The button comes in <strong>4 different sizes:</strong>
                </p>
                <ul>
                    <li>
                        tiny
                    </li>
                    <li>
                        small
                    </li>
                    <li>
                        normal
                    </li>
                    <li>
                        medium
                    </li>
                    <li>
                        large
                    </li>
                    <li>
                        jumbo
                    </li>
                </ul>
                <p>
                    While the default size is the <strong>normal</strong> one, the <code>is-normal</code> modifier exists in case you need to reset the button to its normal size.
                </p>
            </div>

            <div class="bd-snippet bd-is-vertical bd-is-size-2">
                <div class="bd-snippet-example">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-example">Example</span>
                    </p>

                    <div class="bd-snippet-preview">
                        <div class="buttons">
                            <button class="button is-tiny">Tiny</button>
                            <button class="button is-small">Small</button>
                            <button class="button">Default</button>
                            <button class="button is-normal">Normal</button>
                            <button class="button is-medium">Medium</button>
                            <button class="button is-large">Large</button>
                            <button class="button is-jumbo">Jumbo</button>
                        </div>
                    </div>
                </div>

                <div class="bd-snippet-source">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-html">HTML</span>
                    </p>

                    <div class="bd-snippet-code bd-highlight-full">
                        <figure class="highlight">
                            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button is-tiny"</span><span class="nt">&gt;</span>Tiny<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button is-small"</span><span class="nt">&gt;</span>Small<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button is-normal"</span><span class="nt">&gt;</span>Normal<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button is-medium"</span><span class="nt">&gt;</span>Medium<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button is-large"</span><span class="nt">&gt;</span>Large
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button is-jumbo"</span><span class="nt">&gt;</span>Jumbo<span class="nt">&lt;/button&gt;</span></code></pre>
                            <button class="button bd-copy">Copy</button>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
