@page "/delete"

<PageTitle>Delete - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Delete
                </h1>
                <div class="subtitle is-4">
                    <p>A versatile <strong>delete</strong> cross</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content">
        <p>
            It comes in <strong>6 sizes</strong>:
        </p>
    </div>

    <div class="mb-6">
        <p>
            <span class="tag is-danger">Example</span>
        </p>
        <div class="buttons">
            <button type="button" class="delete mr-3 is-tiny"></button>
            <button type="button" class="delete mr-3 is-small"></button>
            <button type="button" class="delete mr-3"></button>
            <button type="button" class="delete mr-3 is-medium"></button>
            <button type="button" class="delete mr-3 is-large"></button>
            <button type="button" class="delete is-jumbo"></button>
        </div>
    </div>

    <div class="has-background-dark">
        <p class="pl-3 pt-3 has-text-warning">
            HTML
        </p>

        <figure>
            <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                <code data-lang="html">
                    <span class="has-text-info">&lt;button</span> <span class="has-text-warning">class=</span><span class="has-text-success">"delete is-tiny"</span><span class="has-text-info">&gt;</span><span class="has-text-info">&lt;/button&gt;</span>
                    <span class="has-text-info">&lt;button</span> <span class="has-text-warning">class=</span><span class="has-text-success">"delete is-small"</span><span class="has-text-info">&gt;</span><span class="has-text-info">&lt;/button&gt;</span>
                    <span class="has-text-info">&lt;button</span> <span class="has-text-warning">class=</span><span class="has-text-success">"delete"</span><span class="has-text-info">&gt;</span><span class="has-text-info">&lt;/button&gt;</span>
                    <span class="has-text-info">&lt;button</span> <span class="has-text-warning">class=</span><span class="has-text-success">"delete is-medium"</span><span class="has-text-info">&gt;</span><span class="has-text-info">&lt;/button&gt;</span>
                    <span class="has-text-info">&lt;button</span> <span class="has-text-warning">class=</span><span class="has-text-success">"delete is-large"</span><span class="has-text-info">&gt;</span><span class="has-text-info">&lt;/button&gt;</span>
                    <span class="has-text-info">&lt;button</span> <span class="has-text-warning">class=</span><span class="has-text-success">"delete is-jumbo"</span><span class="has-text-info">&gt;</span><span class="has-text-info">&lt;/button&gt;</span>
                </code>
            </pre>
        </figure>
    </div>
</div>

