@page "/progress"

<div class="container">

    <section class="hero bd-hero bd-is-basic">
        <div class="hero-body">
            <div class="container">
                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            <p>Progress Bar</p>

                        </h1>
                        <div class="subtitle is-4 algolia-lvl1">
                            <p>Native HTML <strong>progress</strong> bars</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bd-docs-body">
        <div class="bd-docs-content bd-content algolia-content">
            <h3 id="sizes" class="title is-4 is-spaced bd-anchor-title">
                <span class="bd-anchor-name">
                    Sizes
                </span>
                <a class="bd-anchor-link" href="#sizes">
                    #
                </a>
            </h3>

            <div class="bd-snippet bd-is-vertical bd-is-size-1">
                <div class="bd-snippet-example">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-example">Example</span>
                    </p>

                    <div class="bd-snippet-preview">
                        <progress class="progress is-tiny" value="40" max="100">40%</progress>
                    </div>
                </div>

                <div class="bd-snippet-source">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-html">HTML</span>
                    </p>

                    <div class="bd-snippet-code bd-highlight-full">
                        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress is-tiny"</span> <span class="na">value=</span><span class="s">"40"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;</span>40%<span class="nt">&lt;/progress&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
                    </div>
                </div>
            </div>

            <div class="bd-snippet bd-is-vertical bd-is-size-1">
                <div class="bd-snippet-example">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-example">Example</span>
                    </p>

                    <div class="bd-snippet-preview">
                        <progress class="progress is-small" value="20" max="100">20%</progress>
                    </div>
                </div>

                <div class="bd-snippet-source">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-html">HTML</span>
                    </p>

                    <div class="bd-snippet-code bd-highlight-full">
                        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress is-small"</span> <span class="na">value=</span><span class="s">"20"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;</span>20%<span class="nt">&lt;/progress&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
                    </div>
                </div>
            </div>

            <div class="bd-snippet bd-is-vertical bd-is-size-1">
                <div class="bd-snippet-example">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-example">Example</span>
                    </p>

                    <div class="bd-snippet-preview">
                        <progress class="progress is-normal" value="40" max="100">40%</progress>
                    </div>
                </div>

                <div class="bd-snippet-source">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-html">HTML</span>
                    </p>

                    <div class="bd-snippet-code bd-highlight-full">
                        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress is-normal"</span> <span class="na">value=</span><span class="s">"40"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;</span>40%<span class="nt">&lt;/progress&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
                    </div>
                </div>
            </div>

            <div class="bd-snippet bd-is-vertical bd-is-size-1">
                <div class="bd-snippet-example">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-example">Example</span>
                    </p>

                    <div class="bd-snippet-preview">
                        <progress class="progress is-medium" value="60" max="100">60%</progress>
                    </div>
                </div>

                <div class="bd-snippet-source">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-html">HTML</span>
                    </p>

                    <div class="bd-snippet-code bd-highlight-full">
                        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress is-medium"</span> <span class="na">value=</span><span class="s">"60"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;</span>60%<span class="nt">&lt;/progress&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
                    </div>
                </div>
            </div>

            <div class="bd-snippet bd-is-vertical bd-is-size-1">
                <div class="bd-snippet-example">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-example">Example</span>
                    </p>

                    <div class="bd-snippet-preview">
                        <progress class="progress is-large" value="80" max="100">80%</progress>
                    </div>
                </div>

                <div class="bd-snippet-source">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-html">HTML</span>
                    </p>

                    <div class="bd-snippet-code bd-highlight-full">
                        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress is-large"</span> <span class="na">value=</span><span class="s">"80"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;</span>80%<span class="nt">&lt;/progress&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
                    </div>
                </div>
            </div>

            <div class="bd-snippet bd-is-vertical bd-is-size-1">
                <div class="bd-snippet-example">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-example">Example</span>
                    </p>

                    <div class="bd-snippet-preview">
                        <progress class="progress is-jumbo" value="30" max="100">30%</progress>
                    </div>
                </div>

                <div class="bd-snippet-source">
                    <p class="bd-snippet-title">
                        <span class="bd-snippet-tag bd-is-html">HTML</span>
                    </p>

                    <div class="bd-snippet-code bd-highlight-full">
                        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress is-jumbo"</span> <span class="na">value=</span><span class="s">"30"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;</span>30%<span class="nt">&lt;/progress&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
