@page "/progress"

<PageTitle>Progress - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Progress Bar
                </h1>
                <div class="subtitle is-4">
                    <p>Native HTML <strong>progress</strong> bars</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>


    <div class="mb-5">        
        <p class="block">
            <span class="tag is-danger">Example</span>
        </p>
        
        <progress class="progress is-tiny" value="10" max="100">10%</progress>
                
        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;progress</span> <span class="has-text-warning">class=</span><span class="has-text-success">"progress is-tiny"</span> <span class="has-text-warning">value=</span><span class="has-text-success">"10"</span> <span class="has-text-warning">max=</span><span class="has-text-success">"100"</span><span class="has-text-info">&gt;</span>10%<span class="has-text-info">&lt;/progress&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>

    <div class="mb-5">        
        <p class="block">
            <span class="tag is-danger">Example</span>
        </p>
        
        <progress class="progress is-small" value="20" max="100">20%</progress>
                
        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;progress</span> <span class="has-text-warning">class=</span><span class="has-text-success">"progress is-small"</span> <span class="has-text-warning">value=</span><span class="has-text-success">"20"</span> <span class="has-text-warning">max=</span><span class="has-text-success">"100"</span><span class="has-text-info">&gt;</span>20%<span class="has-text-info">&lt;/progress&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
        </p>

        <progress class="progress is-normal" value="30" max="100">30%</progress>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;progress</span> <span class="has-text-warning">class=</span><span class="has-text-success">"progress is-normal"</span> <span class="has-text-warning">value=</span><span class="has-text-success">"30"</span> <span class="has-text-warning">max=</span><span class="has-text-success">"100"</span><span class="has-text-info">&gt;</span>30%<span class="has-text-info">&lt;/progress&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
        </p>

        <progress class="progress is-medium" value="40" max="100">40%</progress>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;progress</span> <span class="has-text-warning">class=</span><span class="has-text-success">"progress is-medium"</span> <span class="has-text-warning">value=</span><span class="has-text-success">"40"</span> <span class="has-text-warning">max=</span><span class="has-text-success">"100"</span><span class="has-text-info">&gt;</span>40%<span class="has-text-info">&lt;/progress&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
        </p>

        <progress class="progress is-large" value="50" max="100">50%</progress>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;progress</span> <span class="has-text-warning">class=</span><span class="has-text-success">"progress is-large"</span> <span class="has-text-warning">value=</span><span class="has-text-success">"50"</span> <span class="has-text-warning">max=</span><span class="has-text-success">"100"</span><span class="has-text-info">&gt;</span>50%<span class="has-text-info">&lt;/progress&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
        </p>

        <progress class="progress is-jumbo" value="60" max="100">60%</progress>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;progress</span> <span class="has-text-warning">class=</span><span class="has-text-success">"progress is-jumbo"</span> <span class="has-text-warning">value=</span><span class="has-text-success">"60"</span> <span class="has-text-warning">max=</span><span class="has-text-success">"100"</span><span class="has-text-info">&gt;</span>60%<span class="has-text-info">&lt;/progress&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
</div>
