.button.is-tiny,
.title.is-tiny,
.subtitle.is-tiny,
.message.is-tiny,
.label.is-tiny,
.input.is-tiny {
  font-size: 0.45rem; }

.button.is-jumbo,
.title.is-jumbo,
.subtitle.is-jumbo,
.message.is-jumbo,
.label.is-jumbo,
.input.is-jumbo {
  font-size: 6rem; }

.delete.is-tiny {
  height: 11px;
  max-height: 11px;
  max-width: 11px;
  min-height: 11px;
  min-width: 11px;
  width: 11px; }

.delete.is-jumbo {
  height: 60px;
  max-height: 60px;
  max-width: 60px;
  min-height: 60px;
  min-width: 60px;
  width: 60px; }

.icon.is-tiny {
  height: 0.5rem;
  width: 0.5rem; }

.icon.is-jumbo {
  height: 4rem;
  width: 4rem; }

.progress.is-tiny {
  height: 0.45rem; }

.progress.is-jumbo {
  height: 6rem; }

.input.is-tiny {
  border-radius: 1px; }

.input.is-jumbo {
  border-radius: 8px; }

.hero.is-tiny .hero-body {
  padding: 0.5rem; }

.hero.is-jumbo .hero-body {
  padding: 27rem 7.5rem; }

.section.is-tiny {
  padding: 4.2rem 2.25rem; }

.section.is-jumbo {
  padding: 27rem 7.5rem; }

.is-size-1.is-tiny {
  font-size: 0.75rem !important; }

.is-size-2.is-tiny {
  font-size: 0.65rem !important; }

.is-size-3.is-tiny {
  font-size: 0.55rem !important; }

.is-size-4.is-tiny {
  font-size: 0.45rem !important; }

.is-size-5.is-tiny {
  font-size: 0.35rem !important; }

.is-size-6.is-tiny {
  font-size: 0.25rem !important; }

.is-size-7.is-tiny {
  font-size: 0.15rem !important; }

.is-size-1.is-jumbo {
  font-size: 9rem !important; }

.is-size-2.is-jumbo {
  font-size: 8rem !important; }

.is-size-3.is-jumbo {
  font-size: 7rem !important; }

.is-size-4.is-jumbo {
  font-size: 6rem !important; }

.is-size-5.is-jumbo {
  font-size: 5rem !important; }

.is-size-6.is-jumbo {
  font-size: 4rem !important; }

.is-size-7.is-jumbo {
  font-size: 3rem !important; }
