@page "/typography"

<PageTitle>Typography - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Typography helpers
                </h1>
                <div class="subtitle is-4">
                    <p>Change the <strong>size</strong>, weight, and other font properties of the text</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content">
        <p>
            There are <strong>7 sizes</strong> to choose from, each of which can be combined with <code>is-tiny</code> and <code>is-jumbo</code>:
        </p>
    </div>

    <table class="table is-bordered mb-5">
        <thead>
            <tr>
                <th>Class</th>
                <th>Font-size</th>
                <th>Tiny</th>
                <th>Default</th>
                <th>Jumbo</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td><code>is-size-1</code></td>
                <td>
                    Tiny <code>0.75rem</code><br />
                    Default <code>3rem</code><br />
                    Jumbo <code>9rem</code>
                </td>
                <td><span class="is-size-1 is-tiny">Example</span></td>
                <td><span class="is-size-1">Example</span></td>
                <td><span class="is-size-1 is-jumbo">Example</span></td>
            </tr>
            <tr>

                <td><code>is-size-2</code></td>
                <td>
                    Tiny <code>0.65rem</code><br />
                    Default <code>2.5rem</code><br />
                    Jumbo <code>8rem</code>
                </td>
                <td><span class="is-size-2 is-tiny">Example</span></td>
                <td><span class="is-size-2">Example</span></td>
                <td><span class="is-size-2 is-jumbo">Example</span></td>
            </tr>
            <tr>

                <td><code>is-size-3</code></td>
                <td>
                    Tiny <code>0.55rem</code><br />
                    Default <code>2rem</code><br />
                    Jumbo <code>7rem</code>
                </td>
                <td><span class="is-size-3 is-tiny">Example</span></td>
                <td><span class="is-size-3">Example</span></td>
                <td><span class="is-size-3 is-jumbo">Example</span></td>
            </tr>
            <tr>

                <td><code>is-size-4</code></td>
                <td>
                    Tiny <code>0.45rem</code><br />
                    Default <code>1.5rem</code><br />
                    Jumbo <code>6rem</code>
                </td>
                <td><span class="is-size-4 is-tiny">Example</span></td>
                <td><span class="is-size-4">Example</span></td>
                <td><span class="is-size-4 is-jumbo">Example</span></td>
            </tr>
            <tr>

                <td><code>is-size-5</code></td>
                <td>
                    Tiny <code>0.35rem</code><br />
                    Default <code>1.25rem</code><br />
                    Jumbo <code>5rem</code>
                </td>
                <td><span class="is-size-5 is-tiny">Example</span></td>
                <td><span class="is-size-5">Example</span></td>
                <td><span class="is-size-5 is-jumbo">Example</span></td>
            </tr>
            <tr>

                <td><code>is-size-6</code></td>
                <td>
                    Tiny <code>0.25rem</code><br />
                    Default <code>1rem</code><br />
                    Jumbo <code>4rem</code>
                </td>
                <td><span class="is-size-6 is-tiny">Example</span></td>
                <td><span class="is-size-6">Example</span></td>
                <td><span class="is-size-6 is-jumbo">Example</span></td>
            </tr>
            <tr>

                <td><code>is-size-7</code></td>
                <td>
                    Tiny <code>0.15rem</code><br />
                    Default <code>0.75rem</code><br />
                    Jumbo <code>3rem</code>
                </td>
                <td><span class="is-size-7 is-tiny">Example</span></td>
                <td><span class="is-size-7">Example</span></td>
                <td><span class="is-size-7 is-jumbo">Example</span></td>
            </tr>
        </tbody>
    </table>
</div>
