@page "/file"

<PageTitle>File - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    File upload
                </h1>
                <div class="subtitle is-4">
                    <p>A custom <strong>file upload</strong> input, without JavaScript</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content">
        <p>
            You can append one of the <strong>6 available sizes</strong>:
        </p>
        <ul>
            <li>
                <code>is-tiny</code>
            </li>
            <li>
                <code>is-small</code>
            </li>
            <li>
                <code>is-normal</code> (default)
            </li>
            <li>
                <code>is-medium</code>
            </li>
            <li>
                <code>is-large</code>
            </li>
            <li>
                <code>is-jumbo</code>
            </li>
        </ul>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Tiny</span>
        </p>

        <div class="file is-tiny mb-2">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-label">
                        Tiny file…
                    </span>
                </span>
            </label>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file is-tiny"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;label</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-input"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"file"</span> <span class="has-text-warning">name=</span><span class="has-text-success">"resume"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-cta"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                            Tiny file…
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/label&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Small</span>
        </p>

        <div class="file is-small mb-2">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-label">
                        Small file…
                    </span>
                </span>
            </label>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file is-small"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;label</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-input"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"file"</span> <span class="has-text-warning">name=</span><span class="has-text-success">"resume"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-cta"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                            Small file…
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/label&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Normal</span>
        </p>

        <div class="file is-normal mb-2">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-label">
                        Normal file…
                    </span>
                </span>
            </label>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file is-normal"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;label</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-input"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"file"</span> <span class="has-text-warning">name=</span><span class="has-text-success">"resume"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-cta"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                            Normal file…
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/label&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Medium</span>
        </p>

        <div class="file is-medium mb-2">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-label">
                        Medium file…
                    </span>
                </span>
            </label>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file is-medium"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;label</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-input"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"file"</span> <span class="has-text-warning">name=</span><span class="has-text-success">"resume"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-cta"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                            Medium file…
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/label&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Large</span>
        </p>

        <div class="file is-large mb-2">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-label">
                        Large file…
                    </span>
                </span>
            </label>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file is-large"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;label</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-input"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"file"</span> <span class="has-text-warning">name=</span><span class="has-text-success">"resume"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-cta"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                            Large file…
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/label&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Jumbo</span>
        </p>

        <div class="file is-jumbo mb-2">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-label">
                        Jumbo file…
                    </span>
                </span>
            </label>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file is-jumbo"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;label</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-input"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"file"</span> <span class="has-text-warning">name=</span><span class="has-text-success">"resume"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-cta"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;span</span> <span class="has-text-warning">class=</span><span class="has-text-success">"file-label"</span><span class="has-text-info">&gt;</span>
                            Jumbo file…
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/span&gt;</span>
                        <span class="has-text-info">&lt;/label&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
</div>
