@page "/input"

<PageTitle>Input - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Input
                </h1>
                <div class="subtitle is-4">
                    <p>The <strong>text input</strong> and its variations</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Tiny</span>
        </p>

        <input class="input is-tiny mb-2" type="text" placeholder="Tiny input">

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"input is-tiny"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"text"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Tiny input"</span><span class="has-text-info">&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Small</span>
        </p>

        <input class="input is-small mb-2" type="text" placeholder="Small input">

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"input is-small"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"text"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Small input"</span><span class="has-text-info">&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Normal</span>
        </p>

        <input class="input is-normal mb-2" type="text" placeholder="Normal input">

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"input is-normal"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"text"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Normal input"</span><span class="has-text-info">&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Medium</span>
        </p>

        <input class="input is-medium mb-2" type="text" placeholder="Medium input">

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"input is-medium"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"text"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Medium input"</span><span class="has-text-info">&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Large</span>
        </p>

        <input class="input is-large mb-2" type="text" placeholder="Large input">

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"input is-large"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"text"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Large input"</span><span class="has-text-info">&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Jumbo</span>
        </p>

        <input class="input is-jumbo mb-2" type="text" placeholder="Jumbo input">

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;input</span> <span class="has-text-warning">class=</span><span class="has-text-success">"input is-jumbo"</span> <span class="has-text-warning">type=</span><span class="has-text-success">"text"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Jumbo input"</span><span class="has-text-info">&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
</div>
