@page "/textarea"

<PageTitle>Textarea - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Textarea
                </h1>
                <div class="subtitle is-4">
                    <p>The multiline <strong>textarea</strong> and its variations</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content">
        <p>
            The <code>textarea</code> element comes in <strong>6 different sizes:</strong>
        </p>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Tiny</span>
        </p>


        <div class="field">
            <div class="control">
                <textarea class="textarea is-tiny" placeholder="Tiny textarea"></textarea>
            </div>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"field"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"control"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;textarea</span> <span class="has-text-warning">class=</span><span class="has-text-success">"textarea is-tiny"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Tiny textarea"</span><span class="has-text-info">&gt;&lt;/textarea&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Small</span>
        </p>


        <div class="field">
            <div class="control">
                <textarea class="textarea is-small" placeholder="Small textarea"></textarea>
            </div>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"field"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"control"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;textarea</span> <span class="has-text-warning">class=</span><span class="has-text-success">"textarea is-small"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Small textarea"</span><span class="has-text-info">&gt;&lt;/textarea&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Normal</span>
        </p>


        <div class="field">
            <div class="control">
                <textarea class="textarea is-normal" placeholder="Normal textarea"></textarea>
            </div>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"field"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"control"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;textarea</span> <span class="has-text-warning">class=</span><span class="has-text-success">"textarea is-normal"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Normal textarea"</span><span class="has-text-info">&gt;&lt;/textarea&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Medium</span>
        </p>


        <div class="field">
            <div class="control">
                <textarea class="textarea is-medium" placeholder="Medium textarea"></textarea>
            </div>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"field"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"control"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;textarea</span> <span class="has-text-warning">class=</span><span class="has-text-success">"textarea is-medium"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Medium textarea"</span><span class="has-text-info">&gt;&lt;/textarea&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Large</span>
        </p>


        <div class="field">
            <div class="control">
                <textarea class="textarea is-large" placeholder="Large textarea"></textarea>
            </div>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"field"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"control"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;textarea</span> <span class="has-text-warning">class=</span><span class="has-text-success">"textarea is-large"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Large textarea"</span><span class="has-text-info">&gt;&lt;/textarea&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Jumbo</span>
        </p>


        <div class="field">
            <div class="control">
                <textarea class="textarea is-jumbo" placeholder="Jumbo textarea"></textarea>
            </div>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"field"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"control"</span><span class="has-text-info">&gt;</span>
                        <span class="has-text-info">&lt;textarea</span> <span class="has-text-warning">class=</span><span class="has-text-success">"textarea is-jumbo"</span> <span class="has-text-warning">placeholder=</span><span class="has-text-success">"Jumbo textarea"</span><span class="has-text-info">&gt;&lt;/textarea&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                        <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
</div>