@page "/"

<PageTitle>Bulma Jumbo Tiny</PageTitle>

<div class='panel mt-3'>
    <p class='panel-heading py-3'>Bulma Jumbo Tiny</p>
    <div class='panel-block box' style="display: block">
        <p class="block">Provides additional sizing options for common bulma classes. Specifically, allows combining the <code>is-jumbo</code> and <code>is-tiny</code> selectors.</p>
        <p class="block is-size-6 is-jumbo">Jumbo Text</p>
        <p class="block is-size-6 is-tiny">Tiny Text</p>
    </div>
</div>
