@page "/"

<PageTitle>Bulma Jumbo Tiny</PageTitle>

<div class="container pt-5">
	<h1 class="title is-2">Bulma Jumbo Tiny</h1>
	<p class="block">Provides additional sizing options for common bulma classes. Specifically, allows combining the <code>is-jumbo</code> and <code>is-tiny</code> selectors.</p>

	<h2 class="title is-3">Components</h2>

	<div class="block">
		<a class="button is-link" href="breadcrumb">Breadcrumb</a>
		<a class="button is-link" href="message">Message</a>
		<a class="button is-link" href="pagination">Pagination</a>
		<a class="button is-link" href="tabs">Tabs</a>
	</div>

	<h2 class="title is-3">Elements</h2>

	<div class="block">
		<a class="button is-link" href="button">Button</a>
		<a class="button is-link" href="delete">Delete</a>
		<a class="button is-link" href="progress">Progress</a>
		<a class="button is-link" href="tag">Tag</a>
		<a class="button is-link" href="title">Title</a>
	</div>

	<h2 class="title is-3">Form</h2>

	<div class="block">
		<a class="button is-link" href="file">File</a>
		<a class="button is-link" href="input">Input</a>
		<a class="button is-link" href="select">Select</a>
		<a class="button is-link" href="textarea">Textarea</a>
	</div>

	<h2 class="title is-3">Helpers</h2>

	<div class="block">
		<a class="button is-link" href="spacing">Spacing</a>
		<a class="button is-link" href="typography">Typography</a>
	</div>

	<h2 class="title is-3">Layout</h2>

	<div class="block">
		<a class="button is-link" href="hero">Hero</a>
		<a class="button is-link" href="section">Section</a>
	</div>

</div>
