@page "/section"

<PageTitle>Section - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Section
                </h1>
                <div class="subtitle is-4">
                    <p>A simple container to divide your page into <strong>sections</strong>, like the one you’re currently reading</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content">
        <p>You can use the modifiers <code>is-tiny</code>, <code>is-medium</code>, <code>is-large</code>, and <code>is-jumbo</code> to change the <strong>spacing</strong>.</p>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Tiny</span>
        </p>

        <div class="columns">
            <div class="column is-6">
                <section class="section is-tiny">
                    <h1 class="title">Tiny section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2>
                </section>
            </div>
            <div class="column is-6">
                <div class="has-background-dark">
                    <p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure>
                        <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                            <code data-lang="html">
                                <span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-tiny"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Tiny section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span>
                            </code>
                        </pre>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Medium</span>
        </p>

        <div class="columns">
            <div class="column is-6">
                <section class="section is-medium">
                    <h1 class="title">Medium section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2>
                </section>
            </div>
            <div class="column is-6">
                <div class="has-background-dark">
                    <p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure>
                        <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                            <code data-lang="html">
                                <span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-medium"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Medium section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span>
                            </code>
                        </pre>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Large</span>
        </p>

        <div class="columns">
            <div class="column is-6">
                <section class="section is-large">
                    <h1 class="title">Large section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2>
                </section>
            </div>
            <div class="column is-6">
                <div class="has-background-dark">
                    <p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure>
                        <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                            <code data-lang="html">
                                <span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-large"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Large section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span>
                            </code>
                        </pre>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Jumbo</span>
        </p>

        <div class="columns">
            <div class="column is-6">
                <section class="section is-jumbo">
                    <h1 class="title">Jumbo section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2>
                </section>
            </div>
            <div class="column is-6">
                <div class="has-background-dark">
                    <p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure>
                        <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                            <code data-lang="html">
                                <span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-jumbo"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Jumbo section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span>
                            </code>
                        </pre>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
