@page "/message"

<div class="container">

    <section class="hero bd-hero bd-is-basic">
        <div class="hero-body">
            <div class="container">
                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            <p>Message</p>

                        </h1>
                        <div class="subtitle is-4 algolia-lvl1">
                            <p>Colored <strong>message</strong> blocks, to emphasize part of your page</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bd-docs-body">

        <div class="bd-docs-content bd-content algolia-content">
            <h3 id="sizes" class="title is-4 is-spaced bd-anchor-title">
                <span class="bd-anchor-name">
                    Sizes
                </span>
                <a class="bd-anchor-link" href="#sizes">
                    #
                </a>
            </h3>
        </div>

        <div class="bd-snippet bd-is-vertical bd-is-size-1">
            <div class="bd-snippet-example">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-example">Example</span>
                </p>

                <div class="bd-snippet-preview">


                    <article class="message is-tiny">
                        <div class="message-header">
                            <p>Tiny message</p>
                            <button class="delete is-tiny" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                        </div>
                    </article>


                </div>
            </div>

            <div class="bd-snippet-source">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-html">HTML</span>
                </p>

                <div class="bd-snippet-code bd-highlight-full">
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html"><span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"message is-tiny"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-header"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;p&gt;</span>Tiny message<span class="nt">&lt;/p&gt;</span>
                        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"delete is-tiny"</span> <span class="na">aria-label=</span><span class="s">"delete"</span><span class="nt">&gt;&lt;/button&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-body"</span><span class="nt">&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="nt">&lt;strong&gt;</span>Pellentesque risus mi<span class="nt">&lt;/strong&gt;</span>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <span class="nt">&lt;a&gt;</span>felis venenatis<span class="nt">&lt;/a&gt;</span> efficitur. Aenean ac <span class="nt">&lt;em&gt;</span>eleifend lacus<span class="nt">&lt;/em&gt;</span>, in mollis lectus.
                        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span></code></pre>
                        <button class="button bd-copy">Copy</button>
                    </figure>
                </div>
            </div>
        </div>

        <div class="bd-snippet bd-is-vertical bd-is-size-1">
            <div class="bd-snippet-example">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-example">Example</span>
                </p>

                <div class="bd-snippet-preview">


                    <article class="message is-small">
                        <div class="message-header">
                            <p>Small message</p>
                            <button class="delete is-small" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                        </div>
                    </article>


                </div>
            </div>

            <div class="bd-snippet-source">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-html">HTML</span>
                </p>

                <div class="bd-snippet-code bd-highlight-full">
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html"><span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"message is-small"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-header"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;p&gt;</span>Small message<span class="nt">&lt;/p&gt;</span>
                        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"delete is-small"</span> <span class="na">aria-label=</span><span class="s">"delete"</span><span class="nt">&gt;&lt;/button&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-body"</span><span class="nt">&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="nt">&lt;strong&gt;</span>Pellentesque risus mi<span class="nt">&lt;/strong&gt;</span>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <span class="nt">&lt;a&gt;</span>felis venenatis<span class="nt">&lt;/a&gt;</span> efficitur. Aenean ac <span class="nt">&lt;em&gt;</span>eleifend lacus<span class="nt">&lt;/em&gt;</span>, in mollis lectus.
                        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span></code></pre>
                        <button class="button bd-copy">Copy</button>
                    </figure>
                </div>
            </div>
        </div>

        <div class="bd-snippet bd-is-vertical bd-is-size-1">
            <div class="bd-snippet-example">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-example">Example</span>
                </p>

                <div class="bd-snippet-preview">


                    <article class="message">
                        <div class="message-header">
                            <p>Normal message</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                        </div>
                    </article>


                </div>
            </div>

            <div class="bd-snippet-source">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-html">HTML</span>
                </p>

                <div class="bd-snippet-code bd-highlight-full">
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html"><span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"message"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-header"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;p&gt;</span>Normal message<span class="nt">&lt;/p&gt;</span>
                        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"delete"</span> <span class="na">aria-label=</span><span class="s">"delete"</span><span class="nt">&gt;&lt;/button&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-body"</span><span class="nt">&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="nt">&lt;strong&gt;</span>Pellentesque risus mi<span class="nt">&lt;/strong&gt;</span>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <span class="nt">&lt;a&gt;</span>felis venenatis<span class="nt">&lt;/a&gt;</span> efficitur. Aenean ac <span class="nt">&lt;em&gt;</span>eleifend lacus<span class="nt">&lt;/em&gt;</span>, in mollis lectus.
                        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span></code></pre>
                        <button class="button bd-copy">Copy</button>
                    </figure>
                </div>
            </div>
        </div>

        <div class="bd-snippet bd-is-vertical bd-is-size-1">
            <div class="bd-snippet-example">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-example">Example</span>
                </p>

                <div class="bd-snippet-preview">


                    <article class="message is-medium">
                        <div class="message-header">
                            <p>Medium message</p>
                            <button class="delete is-medium" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                        </div>
                    </article>


                </div>
            </div>

            <div class="bd-snippet-source">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-html">HTML</span>
                </p>

                <div class="bd-snippet-code bd-highlight-full">
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html"><span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"message is-medium"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-header"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;p&gt;</span>Medium message<span class="nt">&lt;/p&gt;</span>
                        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"delete is-medium"</span> <span class="na">aria-label=</span><span class="s">"delete"</span><span class="nt">&gt;&lt;/button&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-body"</span><span class="nt">&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="nt">&lt;strong&gt;</span>Pellentesque risus mi<span class="nt">&lt;/strong&gt;</span>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <span class="nt">&lt;a&gt;</span>felis venenatis<span class="nt">&lt;/a&gt;</span> efficitur. Aenean ac <span class="nt">&lt;em&gt;</span>eleifend lacus<span class="nt">&lt;/em&gt;</span>, in mollis lectus.
                        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span></code></pre>
                        <button class="button bd-copy">Copy</button>
                    </figure>
                </div>
            </div>
        </div>

        <div class="bd-snippet bd-is-vertical bd-is-size-1">
            <div class="bd-snippet-example">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-example">Example</span>
                </p>

                <div class="bd-snippet-preview">


                    <article class="message is-large">
                        <div class="message-header">
                            <p>Large message</p>
                            <button class="delete is-large" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                        </div>
                    </article>


                </div>
            </div>

            <div class="bd-snippet-source">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-html">HTML</span>
                </p>

                <div class="bd-snippet-code bd-highlight-full">
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html"><span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"message is-large"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-header"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;p&gt;</span>Large message<span class="nt">&lt;/p&gt;</span>
                        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"delete is-large"</span> <span class="na">aria-label=</span><span class="s">"delete"</span><span class="nt">&gt;&lt;/button&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-body"</span><span class="nt">&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="nt">&lt;strong&gt;</span>Pellentesque risus mi<span class="nt">&lt;/strong&gt;</span>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <span class="nt">&lt;a&gt;</span>felis venenatis<span class="nt">&lt;/a&gt;</span> efficitur. Aenean ac <span class="nt">&lt;em&gt;</span>eleifend lacus<span class="nt">&lt;/em&gt;</span>, in mollis lectus.
                        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span></code></pre>
                        <button class="button bd-copy">Copy</button>
                    </figure>
                </div>
            </div>
        </div>

        <div class="bd-snippet bd-is-vertical bd-is-size-1">
            <div class="bd-snippet-example">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-example">Example</span>
                </p>

                <div class="bd-snippet-preview">
                    <article class="message is-jumbo">
                        <div class="message-header">
                            <p>Jumbo message</p>
                            <button class="delete is-jumbo" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                        </div>
                    </article>


                </div>
            </div>

            <div class="bd-snippet-source">
                <p class="bd-snippet-title">
                    <span class="bd-snippet-tag bd-is-html">HTML</span>
                </p>

                <div class="bd-snippet-code bd-highlight-full">
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html"><span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"message is-jumbo"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-header"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;p&gt;</span>Jumbo message<span class="nt">&lt;/p&gt;</span>
                        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"delete is-jumbo"</span> <span class="na">aria-label=</span><span class="s">"delete"</span><span class="nt">&gt;&lt;/button&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"message-body"</span><span class="nt">&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="nt">&lt;strong&gt;</span>Pellentesque risus mi<span class="nt">&lt;/strong&gt;</span>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <span class="nt">&lt;a&gt;</span>felis venenatis<span class="nt">&lt;/a&gt;</span> efficitur. Aenean ac <span class="nt">&lt;em&gt;</span>eleifend lacus<span class="nt">&lt;/em&gt;</span>, in mollis lectus.
                        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span></code></pre>
                        <button class="button bd-copy">Copy</button>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
