@page "/tabs"

<PageTitle>Tabs - Bulma Jumbo Tiny</PageTitle>

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Tabs
                </h1>
                <div class="subtitle is-4">
                    <p>Simple responsive horizontal navigation <strong>tabs</strong>, with different styles</p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content">
        <p>You can choose between <strong>5 additional sizes</strong>: <code>is-tiny</code>, <code>is-small</code>, <code>is-medium</code>, <code>is-large</code>, and <code>is-jumbo</code>.</p>
    </div>

    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Tiny</span>
        </p>

        <div class="tabs is-tiny">
            <ul>
                <li class="is-active"><a>Pictures</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
            </ul>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                    <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"tabs is-tiny"</span><span class="has-text-info">&gt;</span>
                    <span class="has-text-info">&lt;ul&gt;</span>
                    <span class="has-text-info">&lt;li</span> <span class="has-text-warning">class=</span><span class="has-text-success">"is-active"</span><span class="has-text-info">&gt;&lt;a&gt;</span>Pictures<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Music<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Videos<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Documents<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;/ul&gt;</span>
                    <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Small</span>
        </p>

        <div class="tabs is-small">
            <ul>
                <li class="is-active"><a>Pictures</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
            </ul>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                    <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"tabs is-small"</span><span class="has-text-info">&gt;</span>
                    <span class="has-text-info">&lt;ul&gt;</span>
                    <span class="has-text-info">&lt;li</span> <span class="has-text-warning">class=</span><span class="has-text-success">"is-active"</span><span class="has-text-info">&gt;&lt;a&gt;</span>Pictures<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Music<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Videos<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Documents<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;/ul&gt;</span>
                    <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Medium</span>
        </p>

        <div class="tabs is-medium">
            <ul>
                <li class="is-active"><a>Pictures</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
            </ul>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                    <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"tabs is-medium"</span><span class="has-text-info">&gt;</span>
                    <span class="has-text-info">&lt;ul&gt;</span>
                    <span class="has-text-info">&lt;li</span> <span class="has-text-warning">class=</span><span class="has-text-success">"is-active"</span><span class="has-text-info">&gt;&lt;a&gt;</span>Pictures<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Music<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Videos<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Documents<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;/ul&gt;</span>
                    <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Large</span>
        </p>

        <div class="tabs is-large">
            <ul>
                <li class="is-active"><a>Pictures</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
            </ul>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                    <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"tabs is-large"</span><span class="has-text-info">&gt;</span>
                    <span class="has-text-info">&lt;ul&gt;</span>
                    <span class="has-text-info">&lt;li</span> <span class="has-text-warning">class=</span><span class="has-text-success">"is-active"</span><span class="has-text-info">&gt;&lt;a&gt;</span>Pictures<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Music<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Videos<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Documents<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;/ul&gt;</span>
                    <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
    
    <div class="mb-5">
        <p class="block">
            <span class="tag is-danger">Example</span>
            <span class="tag is-info">Jumbo</span>
        </p>

        <div class="tabs is-jumbo">
            <ul>
                <li class="is-active"><a>Pictures</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
            </ul>
        </div>

        <div class="has-background-dark">
            <p class="pl-3 pt-3 has-text-warning">
                HTML
            </p>

            <figure>
                <pre class="has-background-dark has-text-light" style="white-space: pre-line">
                    <code data-lang="html">
                    <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"tabs is-jumbo"</span><span class="has-text-info">&gt;</span>
                    <span class="has-text-info">&lt;ul&gt;</span>
                    <span class="has-text-info">&lt;li</span> <span class="has-text-warning">class=</span><span class="has-text-success">"is-active"</span><span class="has-text-info">&gt;&lt;a&gt;</span>Pictures<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Music<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Videos<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;li&gt;&lt;a&gt;</span>Documents<span class="has-text-info">&lt;/a&gt;&lt;/li&gt;</span>
                    <span class="has-text-info">&lt;/ul&gt;</span>
                    <span class="has-text-info">&lt;/div&gt;</span>
                    </code>
                </pre>
            </figure>
        </div>
    </div>
</div>
