<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <base href=".">
        <link href="../../css/bulma.min.css" rel="stylesheet">
        <link href="../../css/bulma-jumbo-tiny.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../../favicon.ico">
        <title>Hero - Bulma Jumbo Tiny</title>
    </head>

    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand is-unselectable">
                <a href="../../../../index.html" class="navbar-item">Bulma Jumbo Tiny</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="demo-navigationmenu">
                    <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="demo-navigationmenu" class="navbar-menu is-unselectable">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Components</a>

                        <div class="navbar-dropdown">
                            <a href="../components/breadcrumb.html" class="navbar-item">Breadcrumb</a>
                            <a href="../components/message.html" class="navbar-item">Message</a>
                            <a href="../components/pagination.html" class="navbar-item">Pagination</a>
                            <a href="../components/tabs.html" class="navbar-item">Tabs</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Elements</a>

                        <div class="navbar-dropdown">
                            <a href="../elements/button.html" class="navbar-item">Button</a>
                            <a href="../elements/delete.html" class="navbar-item">Delete</a>
                            <a href="../elements/progress.html" class="navbar-item">Progress</a>
                            <a href="../elements/tag.html" class="navbar-item">Tag</a>
                            <a href="../elements/title.html" class="navbar-item">Title</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Form</a>

                        <div class="navbar-dropdown">
                            <a href="../form/file.html" class="navbar-item">File</a>
                            <a href="../form/input.html" class="navbar-item">Input</a>
                            <a href="../form/textarea.html" class="navbar-item">Textarea</a>
                            <a href="../form/select.html" class="navbar-item">Select</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Helpers</a>

                        <div class="navbar-dropdown">
                            <a href="../helpers/spacing.html" class="navbar-item">Spacing</a>
                            <a href="../helpers/typography.html" class="navbar-item">Typography</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-active">Layout</a>

                        <div class="navbar-dropdown">
                            <a href="hero.html" class="navbar-item is-active">Hero</a>
                            <a href="section.html" class="navbar-item">Section</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main role="main" class="is-main-section">
            <div class="container"><section class="hero"><div class="hero-body"><div class="container"><h1 class="title" tabindex="-1">
                    Hero
                </h1>
                <div class="subtitle is-4"><p>An imposing <strong>hero banner</strong> to showcase something</p></div></div></div></section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content"><p>
            You can have even more imposing banners by using one of <strong>7 different sizes</strong>:
        </p>
        <ul><li><code>is-tiny</code></li>
            <li><code>is-small</code></li>
            <li><code>is-medium</code></li>
            <li><code>is-large</code></li>
            <li><code>is-halfheight</code></li>
            <li><code>is-fullheight</code></li>
            <li><code>is-jumbo</code></li></ul></div>

    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Tiny</span></p>

        <div class="columns"><div class="column is-6"><section class="hero is-tiny is-success"><div class="hero-body"><p class="title">
                            Tiny hero
                        </p>
                        <p class="subtitle">
                            Tiny subtitle
                        </p></div></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero is-tiny is-success"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero-body"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>
                                    Tiny hero
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    Tiny subtitle
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;/div&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Small</span></p>

        <div class="columns"><div class="column is-6"><section class="hero is-small is-warning"><div class="hero-body"><p class="title">
                            Small hero
                        </p>
                        <p class="subtitle">
                            Small subtitle
                        </p></div></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero is-small is-warning"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero-body"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>
                                    Small hero
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    Small subtitle
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;/div&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Medium</span></p>

        <div class="columns"><div class="column is-6"><section class="hero is-medium is-danger"><div class="hero-body"><p class="title">
                            Medium hero
                        </p>
                        <p class="subtitle">
                            Medium subtitle
                        </p></div></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero is-medium is-danger"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero-body"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>
                                    Medium hero
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    Medium subtitle
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;/div&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Large</span></p>

        <div class="columns"><div class="column is-6"><section class="hero is-large is-info"><div class="hero-body"><p class="title">
                            Large hero
                        </p>
                        <p class="subtitle">
                            Large subtitle
                        </p></div></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero is-large is-info"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero-body"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>
                                    Large hero
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    Large subtitle
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;/div&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Half Height</span></p>

        <div class="columns"><div class="column is-6"><section class="hero is-halfheight is-link"><div class="hero-body"><div class=""><p class="title">
                                Half Height hero
                            </p>
                            <p class="subtitle">
                                Half Height subtitle
                            </p></div></div></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero is-halfheight is-link"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero-body"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>
                                    Half Height hero
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    Half Height subtitle
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;/div&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Full Height</span></p>

        <div class="columns"><div class="column is-6"><section class="hero is-fullheight is-primary"><div class="hero-body"><div class=""><p class="title">
                                Full Height hero
                            </p>
                            <p class="subtitle">
                                Full Height subtitle
                            </p></div></div></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero is-fullheight is-primary"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero-body"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>
                                    Full Height hero
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    Full Height subtitle
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;/div&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Jumbo</span></p>

        <div class="columns"><div class="column is-6"><section class="hero is-jumbo"><div class="hero-body"><p class="title">
                            Jumbo hero
                        </p>
                        <p class="subtitle">
                            Jumbo subtitle
                        </p></div></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero is-jumbo"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;div</span> <span class="has-text-warning">class=</span><span class="has-text-success">"hero-body"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>
                                    Jumbo hero
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;p</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    Jumbo subtitle
                                <span class="has-text-info">&lt;/p&gt;</span>
                                <span class="has-text-info">&lt;/div&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div></div>
        </main>
    </body>
</html>