<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <base href=".">
        <link href="../../css/bulma.min.css" rel="stylesheet">
        <link href="../../css/bulma-jumbo-tiny.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../../favicon.ico">
        <title>Section - Bulma Jumbo Tiny</title>
    </head>

    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand is-unselectable">
                <a href="../../../../index.html" class="navbar-item">Bulma Jumbo Tiny</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="demo-navigationmenu">
                    <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="demo-navigationmenu" class="navbar-menu is-unselectable">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Components</a>

                        <div class="navbar-dropdown">
                            <a href="../components/breadcrumb.html" class="navbar-item">Breadcrumb</a>
                            <a href="../components/message.html" class="navbar-item">Message</a>
                            <a href="../components/pagination.html" class="navbar-item">Pagination</a>
                            <a href="../components/tabs.html" class="navbar-item">Tabs</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Elements</a>

                        <div class="navbar-dropdown">
                            <a href="../elements/button.html" class="navbar-item">Button</a>
                            <a href="../elements/delete.html" class="navbar-item">Delete</a>
                            <a href="../elements/progress.html" class="navbar-item">Progress</a>
                            <a href="../elements/tag.html" class="navbar-item">Tag</a>
                            <a href="../elements/title.html" class="navbar-item">Title</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Form</a>

                        <div class="navbar-dropdown">
                            <a href="../form/file.html" class="navbar-item">File</a>
                            <a href="../form/input.html" class="navbar-item">Input</a>
                            <a href="../form/textarea.html" class="navbar-item">Textarea</a>
                            <a href="../form/select.html" class="navbar-item">Select</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Helpers</a>

                        <div class="navbar-dropdown">
                            <a href="../helpers/spacing.html" class="navbar-item">Spacing</a>
                            <a href="../helpers/typography.html" class="navbar-item">Typography</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-active">Layout</a>

                        <div class="navbar-dropdown">
                            <a href="hero.html" class="navbar-item">Hero</a>
                            <a href="section.html" class="navbar-item is-active">Section</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main role="main" class="is-main-section">
            <div class="container"><section class="hero"><div class="hero-body"><div class="container"><h1 class="title" tabindex="-1">
                    Section
                </h1>
                <div class="subtitle is-4"><p>A simple container to divide your page into <strong>sections</strong>, like the one you’re currently reading</p></div></div></div></section>

    <h3 class="title is-4 is-spaced">
        Sizes
    </h3>

    <div class="content"><p>You can use the modifiers <code>is-tiny</code>, <code>is-medium</code>, <code>is-large</code>, and <code>is-jumbo</code> to change the <strong>spacing</strong>.</p></div>

    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Tiny</span></p>

        <div class="columns"><div class="column is-6"><section class="section is-tiny"><h1 class="title">Tiny section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-tiny"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Tiny section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Medium</span></p>

        <div class="columns"><div class="column is-6"><section class="section is-medium"><h1 class="title">Medium section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-medium"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Medium section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Large</span></p>

        <div class="columns"><div class="column is-6"><section class="section is-large"><h1 class="title">Large section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-large"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Large section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div>
    
    <div class="mb-5"><p class="block"><span class="tag is-danger">Example</span>
            <span class="tag is-info">Jumbo</span></p>

        <div class="columns"><div class="column is-6"><section class="section is-jumbo"><h1 class="title">Jumbo section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2></section></div>
            <div class="column is-6"><div class="has-background-dark"><p class="pl-3 pt-3 has-text-warning">
                        HTML
                    </p>

                    <figure><pre class="has-background-dark has-text-light" style="white-space: pre-line"><code data-lang="html"><span class="has-text-info">&lt;section</span> <span class="has-text-warning">class=</span><span class="has-text-success">"section is-jumbo"</span><span class="has-text-info">&gt;</span>
                                <span class="has-text-info">&lt;h1</span> <span class="has-text-warning">class=</span><span class="has-text-success">"title"</span><span class="has-text-info">&gt;</span>Jumbo section<span class="has-text-info">&lt;/h1&gt;</span>
                                <span class="has-text-info">&lt;h2</span> <span class="has-text-warning">class=</span><span class="has-text-success">"subtitle"</span><span class="has-text-info">&gt;</span>
                                    A simple container to divide your page into <span class="has-text-info">&lt;strong&gt;</span>sections<span class="has-text-info">&lt;/strong&gt;</span>, like the one you're currently reading.
                                <span class="has-text-info">&lt;/h2&gt;</span>
                                <span class="has-text-info">&lt;/section&gt;</span></code></pre></figure></div></div></div></div></div>
        </main>
    </body>
</html>